.modal-center {
  display: table;
  height: 100%;
  width: 100%;
}

.modal-center__dialog {
  display: table-cell;
  vertical-align: middle;

  .modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
  }
}

